<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	9CourseModules</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TestHttpServ</display-name>
		<servlet-name>TestHttpServ</servlet-name>
		<servlet-class>test.TestHttpServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CourseAdmin</display-name>
		<servlet-name>CourseAdmin</servlet-name>
		<servlet-class>servlets.CourseAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ThrowException</display-name>
		<servlet-name>ThrowException</servlet-name>
		<servlet-class>servlets.ThrowException</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Activate</display-name>
		<servlet-name>Activate</servlet-name>
		<servlet-class>servlets.Activate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Enable</display-name>
		<servlet-name>Enable</servlet-name>
		<servlet-class>servlets.Enable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Disable</display-name>
		<servlet-name>Disable</servlet-name>
		<servlet-class>servlets.Disable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Remove</display-name>
		<servlet-name>Remove</servlet-name>
		<servlet-class>servlets.Remove</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Merge</display-name>
		<servlet-name>Merge</servlet-name>
		<servlet-class>servlets.Merge</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Waitlist</display-name>
		<servlet-name>Waitlist</servlet-name>
		<servlet-class>servlets.Waitlist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestHttpServ</servlet-name>
		<url-pattern>/TestHttpServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseAdmin</servlet-name>
		<url-pattern>/CourseAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThrowException</servlet-name>
		<url-pattern>/ThrowException</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Activate</servlet-name>
		<url-pattern>/Activate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Enable</servlet-name>
		<url-pattern>/Enable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Disable</servlet-name>
		<url-pattern>/Disable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Remove</servlet-name>
		<url-pattern>/Remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Merge</servlet-name>
		<url-pattern>/Merge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Waitlist</servlet-name>
		<url-pattern>/Waitlist</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
